
#remaja h4 {
    border-bottom: 1px solid darkcyan;
    width: 240px;
    margin: auto;
    text-align: center;
    padding: 20px 10px 10px;
}
#card-remaja {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card-remaja {
    background-color: white;
    border-radius: 5px;
    margin: 20px;
    text-align: center;
    width: 180px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s;
    border: 0;
}
.card-remaja img {
    width: 180px;
    border-radius: 5px;
}
.card-remaja h6 {
    border-bottom: 1px solid darkcyan;
    margin: 10px auto;
    padding-bottom: 5px;
    font-size: 13px;
}
.detail-remaja table {
    width: 100%;
}
.detail-remaja td p {
    font-size: 11px;
    padding: 2px 0;
}
table tr td:first-child {
    text-align: left;
    padding-left: 10px;
}