/* CSS MAIN */
main {
    width: 80%;
    padding-top: 20px;
    padding-bottom: 70px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
main .fitur {
    display: flex;
    padding: 10px 0;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
}
main .fitur .search input {
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
}
main .fitur .tambah a {
    text-decoration: none;
    color: white;
    background-color: darkblue;
    padding: 5px 36px;
    border-radius: 2px;
    transition: 0.5s;
    font-size: 13px;
}
main .fitur .tambah a:hover {
    text-decoration: underline;
}
main table {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font-size: 13px;
}
main table tr:nth-child(even) {
    background-color: lightblue;
}
main table tr th {
    background-color: darkblue;
    color: white;
    padding: 10px;
    border: 0;
}
main table tr td {
    padding: 10px;
}
td img {
    width: 70px;
}
main table tr td a {
    padding: 0 2px;
    color: blue;
}
td a:hover {
    cursor: pointer;
    color: darkblue;
}

/* CSS TAMBAH & EDIT */
.container-crud {
    width: 600px;
    margin: 10vh auto;
    background-color: lightblue;
    border: 1px solid black;
    padding: 50px 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px 0 gray;
}
.container-crud .judul {
    display: flex;
    width: 550px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.container-crud .judul a {
    text-decoration: none;
    color: blue;
    transition: 0.5s;
}
.container-crud .judul a:hover {
    text-decoration: underline;
}
.container-crud form table {
    width: 100%;
    margin: auto;
    padding: 20px;
}
.container-crud form input, select {
    width: 100%;
    padding: 7px;
    margin: 5px 0;
}
.container-crud form button {
    background-color: blue;
    color: white;
    padding: 7px;
    border-radius: 10px;
    border: 0;
    margin-top: 7px;
}